<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright (c) 2014 Tamás Eisenberger</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gtester-file.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gtester</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GTester test list</string>
                        <key>CFBundleTypeRole</key>
                        <string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>hu.iwstudio.gtester</string>
</dict>
</plist>
